/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body {
	/*   background-color: brown;
     color: #fff;
     font-family: "Menlo";
     text-align: center; */
	/* font-family: 'Roboto', sans-serif !important;
 font-family: 'Uchen', serif !important; */
	/* font-family: 'Signika Negative', sans-serif; */
	/* font-family: 'Poppins', sans-serif; */
	font-family: 'Lato', sans-serif;
}

.container_c {
	background-color: white;
	/* padding-top: 15px; */
	color: black;
	/* font-family: "Menlo"; */
	text-align: center;
	height: 100%;
	/* background: linear-gradient(rgba(169, 55, 55, 0.5), rgba(169, 31, 31, 0.5)), url(https://res.cloudinary.com/meme-app/image/upload/v1656658698/CU_1_gjifv5.png) */
	/* background-image: url(https://res.cloudinary.com/meme-app/image/upload/v1655599586/CU_1_.47490fc1-min_mbgip2.png); */
	/* background-image: url(https://res.cloudinary.com/meme-app/image/upload/v1655599586/CU_1_.47490fc1-min_mbgip2.png); */
}
.absContainer {
	padding: 14px;
	background: white;
	/* padding-top: 25px; */
	padding-bottom: 25px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: 'Lato', sans-serif;
}
.burritoRecipe {
}

h2 {
	font-size: 3em;
	text-decoration: underline;
}

ul {
	font-size: 2em;
	margin: none;
	padding: none;
}

li {
	/* list-style: none;
   height: 2em;
   display: grid;
   grid-template-columns: 1fr 10px 1fr 10px 1fr;
   justify-content: center;
   align-items: center;
   margin-bottom: 6px; */
	text-align: left;
}
h2 {
	font-family: 'Roboto', sans-serif !important;
	font-family: 'Uchen', serif !important;
	margin-bottom: 0px;
	margin: 0px !important;
}
.name {
}

.date {
	font-size: 22px;
}

.platform {
}

.subtitle {
	grid-column-start: 1;
	grid-column-end: -1;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 20px;
}

.proscons {
	display: grid;
}
.image {
}

cons {
	margin-top: 17px;
}

h2 {
	text-decoration: none;
	margin-bottom: 36;
}
.para {
	border: 2px solid #ed6c02;
	border-radius: 20px;
	padding: 15px;
}
.image_wrapper {
	/* display: grid; 
   grid-template-columns: 1fr 1fr; */
	/* grid-template-rows: 1fr 1fr;  */
	display: grid;
	/* grid-template-columns: 0.9fr 1fr ; */
	/* grid-column-gap: 10px; */
	padding-right: 10px;
	padding-left: 10px;
}
h1 {
	margin: 0px;
}
.lastImage {
	grid-column-start: 1;

	grid-row-end: -1;
}
h3 {
	margin-top: 0px;
}
.logo {
	position: absolute;
	opacity: 0.5;
	top: 23px;
	/* left: 700px; */
	color: black;
	font-size: 17px;
	left: 529px;
}

* {
	text-decoration: none !important;
}

.grid_table {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 400px;
	/* justify-content: center; */
	/* align-items: center; */
	margin-left: auto;
	margin-right: auto;
	grid-row-gap: 26px;
	margin-top: 35px;
	grid-column-gap: 19px;
}

.lang {
	justify-self: flex-start;
	color: #d32f2f;
}
.value {
	justify-self: flex-start;
}

.time {
	justify-self: flex-start;
}

.bottom_header {
	margin-top: 14px;
}

h4 {
	margin: 0px;
}
